@import "tailwindcss";
@import "@heroui/styles";

/*
 * HeroUI Theme Customization
 * Add this to your global.css after importing @heroui/styles
 * Only includes variables users need to customize
 * @see https://heroui.com/docs/react/getting-started/theming
 */

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(65.00% 0.1300 40.00);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(97.02% 0.0026 40.00);
  --border: oklch(90.00% 0.0026 40.00);
  --danger: oklch(65.32% 0.2340 0.08);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94.00% 0.0026 40.00);
  --default-foreground: oklch(21.03% 0.0059 40.00);
  --field-background: oklch(100.00% 0.0013 40.00);
  --field-border: transparent;
  --field-foreground: oklch(21.03% 0.0026 40.00);
  --field-placeholder: oklch(55.17% 0.0051 40.00);
  --focus: oklch(65.00% 0.1300 40.00);
  --foreground: oklch(21.03% 0.0026 40.00);
  --muted: oklch(55.17% 0.0051 40.00);
  --overlay: oklch(100.00% 0.0008 40.00);
  --overlay-foreground: oklch(21.03% 0.0026 40.00);
  --scrollbar: oklch(87.10% 0.0026 40.00);
  --segment: oklch(100.00% 0.0026 40.00);
  --segment-foreground: oklch(21.03% 0.0026 40.00);
  --separator: oklch(92.00% 0.0026 40.00);
  --success: oklch(73.29% 0.1945 125.15);
  --success-foreground: oklch(21.03% 0.0059 125.15);
  --surface: oklch(100.00% 0.0013 40.00);
  --surface-foreground: oklch(21.03% 0.0026 40.00);
  --surface-secondary: oklch(95.24% 0.0021 40.00);
  --surface-secondary-foreground: oklch(21.03% 0.0026 40.00);
  --surface-tertiary: oklch(93.73% 0.0021 40.00);
  --surface-tertiary-foreground: oklch(21.03% 0.0026 40.00);
  --warning: oklch(78.19% 0.1593 46.67);
  --warning-foreground: oklch(21.03% 0.0059 46.67);

  /* Border Radius */
  --radius: 0;
  --field-radius: 0.25rem;

  /* Font Family */
  /* Make sure to load Hanken Grotesk font in your app */
  --font-sans: var(--font-hanken-grotesk);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(65.00% 0.1300 40.00);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(12.00% 0.0026 40.00);
  --border: oklch(28.00% 0.0026 40.00);
  --danger: oklch(59.40% 0.1977 358.97);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.40% 0.0026 40.00);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.0051 40.00);
  --field-border: transparent;
  --field-foreground: oklch(99.11% 0.0026 40.00);
  --field-placeholder: oklch(70.50% 0.0051 40.00);
  --focus: oklch(65.00% 0.1300 40.00);
  --foreground: oklch(99.11% 0.0026 40.00);
  --muted: oklch(70.50% 0.0051 40.00);
  --overlay: oklch(21.03% 0.0051 40.00);
  --overlay-foreground: oklch(99.11% 0.0026 40.00);
  --scrollbar: oklch(70.50% 0.0026 40.00);
  --segment: oklch(39.64% 0.0026 40.00);
  --segment-foreground: oklch(99.11% 0.0026 40.00);
  --separator: oklch(25.00% 0.0026 40.00);
  --success: oklch(73.29% 0.1945 125.15);
  --success-foreground: oklch(21.03% 0.0059 125.15);
  --surface: oklch(21.03% 0.0051 40.00);
  --surface-foreground: oklch(99.11% 0.0026 40.00);
  --surface-secondary: oklch(25.70% 0.0039 40.00);
  --surface-secondary-foreground: oklch(99.11% 0.0026 40.00);
  --surface-tertiary: oklch(27.21% 0.0039 40.00);
  --surface-tertiary-foreground: oklch(99.11% 0.0026 40.00);
  --warning: oklch(82.03% 0.1395 50.68);
  --warning-foreground: oklch(21.03% 0.0059 50.68);
}

@layer components {
    .cssContainer {
        @apply w-11/12 max-w-360 mx-auto py-15 md:py-20 lg:py-25 xl:py-30;
    }

    .cardBadge {
        @apply border border-border px-2.5 py-1 text-xs font-medium text-foreground/80;
    }
}
